@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  background-color: brown;
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1 {
  grid-area: 1 / 1 / 2 / 6;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -5em;
}
#chat {
  grid-area: 2 / 1 / 7 / 5;
  width: 100%;
  height: 70vh;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  resize: none;
}

#frm {
  grid-area: 7 / 1 / 8 / 5;
  width: 100%;
}

ul {
  grid-area: 2 / 5 / 7 / 6;
  list-style: none;
}

ul li::before {
  content: '\2022';
  color: rgb(60, 160, 60);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
